
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme-aqua.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    </head>
    <body data-smooth-scroll-offset="77">

		<div class="nav-container">
		</div>

		<div class="main-container">
		<section class="switchable">

			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7">
						<h2>Detailed design to make your life easier.</h2>
						<p class="lead">
							Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
						</p>
						<p class="lead">
							Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away — Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
						</p>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="text-block">
							<h5>Phone</h5>
							<p>
								(310)482-6585
							</p>
						</div>
						<div class="text-block">
							<h5>Address</h5>
							<p>
								12777 W. Jefferson Blvd Ste 120<br>
								Los Angeles, Ca 90006<br>
							</p>
						</div>
						<div class="text-block">
							<h5>Opening Hours</h5>
							<p>
								Monday - Thursday: 9am - 5pm<br>
								Friday: 9am - 5pm<br>
								Saturday - Sunday: CLOSED
							</p>
						</div>
					</div>
				</div>
			</div>
		</section></div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
