
<!doctype html>
<html lang="en">
    <body data-smooth-scroll-offset="77">

		<div class="nav-container">
		</div>

		<div class="main-container">
		<section class="switchable">

			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-5">
						<ul class="accordion accordion-2 accordion--oneopen">
							<li class="active">

								<div class="accordion__content">
									<p class="lead">
										Stack follows the BEM naming convention that focusses on logical code readability that is reflected in both the HTML and CSS. Interactive elements such as accordions and tabs follow the same markup patterns making rapid development easier for developers and beginners alike.
									</p>
								</div>
							</li>

							<li>

								<div class="accordion__content">
									<p class="lead">
										Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="slider box-shadow-wide border--round" data-arrows="true" data-paging="true">
							<ul class="slides">
								<li>
									<img alt="img" src="img/work-1.jpg">
								</li>
								<li>
									<img alt="img" src="img/work-2.jpg">
								</li>
								<li>
									<img alt="img" src="img/work-3.jpg">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section><section class="switchable imagebg" data-overlay="4">

		    <div class="background-image-holder">
		        <img alt="background" src="img/hero-1.jpg">
		    </div>

			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-5">
						<ul class="accordion accordion-2 accordion--oneopen">
							<li class="active">

								<div class="accordion__content">
									<p class="lead">
										Stack follows the BEM naming convention that focusses on logical code readability that is reflected in both the HTML and CSS. Interactive elements such as accordions and tabs follow the same markup patterns making rapid development easier for developers and beginners alike.
									</p>
								</div>
							</li>
							<li>

								<div class="accordion__content">
									<p class="lead">
										Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
									</p>
									<p class="lead">
										Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away — Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
									</p>
								</div>
							</li>
							<li>

								<div class="accordion__content">
									<p class="lead">
										Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="video-cover border--round box-shadow">
							<div class="background-image-holder">
								<img alt="image" src="img/agency-2.jpg">
							</div>
							<div class="video-play-icon"></div>
							<iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1"></iframe>
						</div>

					</div>
				</div>
			</div>
      <script src="js/jquery-3.1.1.min.js"></script>
      <script src="js/flickity.min.js"></script>
      <script src="js/parallax.js"></script>
      <script src="js/countdown.min.js"></script>
      <script src="js/smooth-scroll.min.js"></script>
      <script src="js/scripts.js"></script>
    </body>
</html>
