
    <body data-smooth-scroll-offset="77">

		<div class="main-container">
		<section class="text-center">
			<div class="container">
				<div class="row text-block">
					<div class="col-sm-12">
						<h3 style="font-size: 50px;">Categories</h3>
					</div>
				</div>
      </div>
    </div>
    <div class="container">


        <% Category.all.each do |category| %>
        <div class="col-sm-4">
						<article class="feature feature-1">
								<img alt="Image" src="img/technology.jpg" src="img/analytics.jpg" src="img/technology.jpg">
							<div class="feature__body boxed boxed-border">

								<h5 style="text-align: center; font-size: 30px;"><%=link_to category.cat_name, category_path(category) %></h5>

							</div>
						</article>
					</div>
          <%end%>
      </div>
</body>
