    <body data-smooth-scroll-offset="77">

		<div class="nav-container">
		</div>

		<div class="main-container">
		<section class="bg--secondary">
			<div class="container">
				<div class="row text-block">
					<div class="col-sm-12">
						<h3>Category</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<article class="feature feature-1">

							<div class="feature__body boxed boxed--border">
								<span><b>Title:<br></b></span>
                <span><b>Agency:<br></b></span>
                <span><b>Location:</b></span>
                <span><b><br>Skills:</b></span>
                <span><b><br>Description:</b></span>
                <span><b><br>Start Date:</b></span>
                <span><b><br>End Date:</b></span><br><br>

								<a href="#">
									Read More
								</a>
							</div>
						</article>
					</div>


				</div>
			</div>
		</section></div>
    </body>
